.VideoContiner {
    padding:30px 60px;
}
@media (max-width:1199px) {
    .VideoContiner {
        padding:15px 40px;
    }
}
@media (max-width:768px) {
    .VideoContiner {
        padding:30px;
    } 
}
@media (max-width:576px) {
    .VideoContiner {
        padding:15px;
    } 
}