.TrunYourHead {
    padding:50px 60px;
}
@media (max-width:1199px) {
    .TrunYourHead {
        padding:40px;
    }
}
@media (max-width:768px) {
    .TrunYourHead {
        padding:30x;
    }
}
@media (max-width:576px) {
    .TrunYourHead {
        padding:15px;
    }
}