.WelcomeContainer {
    padding:80px 60px;
    background:#EFEFEF;
}
.WelcomeTitle {
    font-size: 35px;
    font-weight:700;
    line-height:1.5;
}
.WelcomeImg {
    width: 100%;
}
@media (max-width:1199px) {
    .WelcomeContainer {
        padding:50px 40px;
        background:#EFEFEF;
    }
}
@media (max-width:768px) {
    .WelcomeContainer {
        padding:30px;
    }
    .WelcomeTitle {
        font-size: 50px;
        line-height:1.6;
    }
    .WelcomeImg {
        width: 100%;
    }
}
@media (max-width:576px) {
    .WelcomeContainer {
        padding:15px;
    }
    .WelcomeTitle {
        font-size: 30px;
        line-height:1.6;
    }
    .WelcomeImg {
        width: 100%;
    }
}