.FormLabel {
    font-size: 20px;
}
.Input {
  margin-bottom:25px;
  padding:15px;
}
@media (max-width:1400px) {
  .FormLabel {
    font-size: 18px;
}
}
@media (max-width:768px) {
    .FormLabel {
        font-size: 16px;
    } 
  }
@media (max-width:576px) {
  .FormLabel {
      font-size: 16px;
  } 
  .Input {
    margin-bottom:15px !important;
    padding:10px;
  }
}