body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  margin:0px;
  padding:0px;
}
body {
  color:#090909;
}
.heading-title-shadow {
  text-shadow: 0 2px white, 0 3px #777 !important;
  text-transform:uppercase;
}
.Checkbox-S-area {
  margin-top: 30px;
  text-align:center;
}
.Checkbox-S-area input[type="checkbox"] {
  margin-right:5px;
  width: 14px;
  height:13px;
 
}
.Checkbox-S-area span {
  font-size: 17px;
}
/* Dash board user icon area  */
.userIconArea {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.userIconArea i {
  margin-right: 8px;
  font-size: 25px;
}
.userIconArea i svg {
 color: #687bf6;
}
.userIconArea .loginUserName {
  margin-bottom:0px;
  /* color:#20c4cb; */
  color: #0323f3;
  font-size: 18px;
  text-transform: capitalize;
}
/* Dash board Nav button */
.dashNav-area {
  padding:10px 0px;
}
/* .dashNav-ara .dashlogo{} */
.dashnavbtn-area {
  display: flex;
  justify-content: flex-end;
}
.dashnavbtn {
  display: inline-block;
  margin-left:20px;
  padding: 8px 15px;
  border-radius: 4px;
  text-decoration: none;
  background: rgb(246, 246, 246);
  border-color: rgb(234, 230, 217);
}
@media (max-width:576px) {
  .dashnavbtn {
    margin:0px 5px;
    padding: 4px 8px;
    font-size: 14px;
  }
  .dashnavbtn-area {
    justify-content: flex-start;
  }
  .dashlogo {
    width: 120px;
    margin-bottom:5px;
  }
}
/* end DashNav desing  */
@media (min-width: 2301px) {
  .container {
    max-width: 2260px !important;
  }
  .containerpading {
    padding: 130px 115px;
  }
}
@media (min-width: 2201px) and (max-width: 2300px) {
  .container {
    max-width: 2160px;
  }
  .containerpading {
    padding: 120px 105px;
  }
}
@media (min-width: 2101px) and (max-width: 2200px) {
  .container {
    max-width: 2060px;
  }
  .containerpading {
    padding: 120px 105px;
  }
}
@media (min-width: 2001px) and (max-width: 2100px) {
  .container {
    max-width: 1960px;
  }
  .containerpading {
    padding: 110px 105px;
  }
}
@media (min-width: 1901px) and (max-width: 2000px) {
  .container {
    max-width: 1860px;
  }
  .containerpading {
    padding: 105px 100px;
  }
}
@media (min-width: 1801px) and (max-width: 1900px) {
  .container {
    max-width: 1760px;
  }
  .containerpading {
    padding: 100px 95px;
  }
}

@media (min-width: 1701px) and (max-width: 1800px) {
  .container {
    max-width: 1660px;
   
  }
  .containerpading {
    padding: 100px 90px;
  }
  
}
@media (min-width: 1601px) and (max-width: 1700px) {
  .container {
    max-width: 1560px;
  }
  .containerpading {
    padding: 94px 73px;
  }
}
@media (min-width: 1501px) and (max-width: 1600px) {
  .container {
    max-width: 1480px;
   
  }
  .containerpading {
    padding: 94px 73px;
  }
}
@media (min-width: 1401px) and (max-width: 1500px) {
  .container {
    max-width: 1380px;
   
  }
  .containerpading {
    padding: 69px 80px;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .container {
    max-width: 1280px;
  }
  .containerpading {
    padding: 69px 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .container {
    max-width: 1180px;
  }
  .containerpading {
    padding: 69px 80px;
  }
}
@media (min-width: 1101px) and (max-width: 1199px) {
  .container {
    max-width: 1080px;
  }
  .containerpading {
    padding: 70px 60px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 980px;
  }
  .containerpading {
    padding: 70px 60px;
  }
}
@media (min-width: 901px) and (max-width: 991px){
  .container {
    max-width: 880px;
  }
  .containerpading {
    padding: 70px 60px;
  }
}
@media (min-width: 768px) and (max-width: 900px){
  .container {
    max-width: 750px;
}
.containerpading {
  padding: 70px 60px;
}
 }
 @media (max-width:768px) {
  .containerpading {
      padding:30px;
  }
}
@media (max-width:576px) {
  .containerpading {
      padding:15px;
  }
}
