body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  margin:0px;
  padding:0px;
}
body {
  color:#090909;
}
.containerPading {
  padding:60px;
}
/* @media (max-width:1199px) {
  .container {
    max-width: 980px;
    }
} */

/* @media (min-width:1600px) {
  .container {
    max-width: 1460px;
  }
}
@media (min-width:1900px) {
  .container {
    max-width: 1760px ;
  }
} */
