body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  margin:0px;
  padding:0px;
}
body {
  color:#090909;
}
@media (min-width: 2301px) {
  .container {
    max-width: 2260px !important;
  }
  .containerpading {
    padding: 130px 115px;
  }
}
@media (min-width: 2201px) and (max-width: 2300px) {
  .container {
    max-width: 2160px;
  }
  .containerpading {
    padding: 120px 105px;
  }
}
@media (min-width: 2101px) and (max-width: 2200px) {
  .container {
    max-width: 2060px;
  }
  .containerpading {
    padding: 120px 105px;
  }
}
@media (min-width: 2001px) and (max-width: 2100px) {
  .container {
    max-width: 1960px;
  }
  .containerpading {
    padding: 110px 105px;
  }
}
@media (min-width: 1901px) and (max-width: 2000px) {
  .container {
    max-width: 1860px;
  }
  .containerpading {
    padding: 105px 100px;
  }
}
@media (min-width: 1801px) and (max-width: 1900px) {
  .container {
    max-width: 1760px;
  }
  .containerpading {
    padding: 100px 95px;
  }
}

@media (min-width: 1701px) and (max-width: 1800px) {
  .container {
    max-width: 1660px;
   
  }
  .containerpading {
    padding: 100px 90px;
  }
  
}
@media (min-width: 1601px) and (max-width: 1700px) {
  .container {
    max-width: 1560px;
  }
  .containerpading {
    padding: 94px 73px;
  }
}
@media (min-width: 1501px) and (max-width: 1600px) {
  .container {
    max-width: 1480px;
   
  }
  .containerpading {
    padding: 94px 73px;
  }
}
@media (min-width: 1401px) and (max-width: 1500px) {
  .container {
    max-width: 1380px;
   
  }
  .containerpading {
    padding: 69px 80px;
  }
}
@media (min-width: 1301px) and (max-width: 1400px) {
  .container {
    max-width: 1280px;
  }
  .containerpading {
    padding: 69px 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {
  .container {
    max-width: 1180px;
  }
  .containerpading {
    padding: 69px 80px;
  }
}
@media (min-width: 1101px) and (max-width: 1199px) {
  .container {
    max-width: 1080px;
  }
  .containerpading {
    padding: 70px 60px;
  }
}
@media (min-width: 992px) and (max-width: 1100px) {
  .container {
    max-width: 980px;
  }
  .containerpading {
    padding: 70px 60px;
  }
}
@media (min-width: 901px) and (max-width: 991px){
  .container {
    max-width: 880px;
  }
  .containerpading {
    padding: 70px 60px;
  }
}
@media (min-width: 768px) and (max-width: 900px){
  .container {
    max-width: 750px;
}
.containerpading {
  padding: 70px 60px;
}
 }
 @media (max-width:768px) {
  .containerpading {
      padding:30px;
  }
}
@media (max-width:576px) {
  .containerpading {
      padding:15px;
  }
}
