.Nav {
    margin:5px 0px;
}
.Navtext {
    text-align:right;
}
.Navtext p {
    margin-bottom:0px;
}
.Logoimg {
    width:150px;
}
@media (max-width:576px) {
    .Logoimg {
        width: 100%;
    }
    .Navtext {
        text-align:center;
        display: none;
    }
}